body {
    background-color: #cbe7de;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 6px;
  }
  
  .container {
    text-align: center;
    padding-top: 36px;
    background-color: white;
    
  }
  
  .location {
      margin: 40px;
      padding: 20px;
  }
  
  .icon {
    margin: 0px 0px 0px 0px;
    font-size: 10em;
  }
  
  .location {
    font-size: 1.3em;
    text-transform: uppercase;
  }
  
  .description {
    font-size: 1em;
    padding-top: 16px;
    margin-top: 0px;
  }
  
  .temp {
    font-size: 6em;
    padding: 0px;
    margin: 10px;
  }
  
  .units {
    font-size: .5em;
    /* margin-top: 10px; */
    color: black;
  }
  
  #formValueId {
    padding-top: 24px;
    border: none;
    padding-bottom: 8px;
    border-bottom: 1px solid black;;
    font-size: 1.3em;
    text-align: center;
    font-weight: 300;
    width: 180px;
    letter-spacing: 6px;
    border-radius: 0px;
  }
  
  #zipButton {
    font-size: 1em;
    padding-top: 0px;
    margin-left: -40px;
    margin-right: 0px;
    padding-right: 0px;
    border: none;
    color: black;
    cursor: pointer;
  }
  
  
  input[type=text]:focus {
    outline: none;
  }
  
  .custom {
    padding-top: 12px;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .my-location {
    text-decoration: underline;
    cursor:pointer;
  }